.black {
  background-color: $paragraf-color;
  color: $main-background;
  font-family: $paragraf;
  font-size: $main-size;
  margin-top: 160px;
  flex-direction: row;
}

.footer {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 2.5rem 0 1rem 0;
}

.footer__email {
  margin-top: 1.3rem;
  a {
    color: $main-background;
    font-family: $paragraf;
    font-weight: lighter;
    text-transform: lowercase;

    &:hover {
      color: $border;
    }
  }
}

.footer__redes {
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1.3rem;
  ul {
    padding: 0;
  }
  li {
    align-items: center;
    justify-content: flex-end;
    display: inline-block;
    padding: 0rem 1.2rem;
  }
}

.footer__scroll {
  justify-content: flex-end;
  margin-right: 2rem;
  a {
    color: $main-background;
    writing-mode: vertical-lr;
  }
}


.footer__rights {
  font-weight: lighter;
  font-size: $small-size;
}