/* form */
.contact-background {
  background-color: $main-background;
}

form {
  flex-direction: column;
  font-size: $small-size;
  width: calculateWidth(624px);
}

label {
  flex: 1 1 100%;
  font-family:$titles;
  text-transform: capitalize;
  color: #4F4F4F;
  padding-bottom: 0.6rem;
}

input, textarea {
  background-color: $main-background;
  border: 0.1px solid #c4c4c4;
  border-radius: 0.2rem;
  flex: 1 1 100%;
  font-family:$paragraf;
  margin-bottom: 1rem;
  outline: none;
  padding: 0.5rem 0.5rem;
}


.form__title {
  font-size: $maxim-size-form;
  margin-top: 6.3rem;
}

.form__shape {
  margin-top: 6.3rem;
  position: absolute;
  right: 0;
  z-index: -1;
}

.header__nav--contact {
  border-bottom: 3px solid $main-color;
}

// ======== Js ========== //

.js__red {
  background-color: $fourth-background;
  border: 1px solid $border;
}

.js__green {
  background-color: rgb(175, 214, 175);
  border: 1px solid rgb(15, 184, 105);
  padding: $medium-size;
  width: calculateWidth(80px);
}