.container-navegation {
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3rem;
  width: calculateWidth(180px);

  a {
    &:last-child {
      text-decoration: line-through;
      color: $click;
    }
  }
}