/* functions */

@function calculateWidth($actual) {
  $widthSize: ($actual / 1080px) * 100%;
  @return #{$widthSize};
}

@function calculateRem($size) {
  $remSize : $size / 16px;
  @return #{$remSize}rem;
} 

// functions

@function calculateWidthMovil($actual) {
  $widthSize: ($actual / 767px) * 100%;
  @return #{$widthSize};
}

@function calculateRemMovil($size) {
  $remSize : $size / 12px;
  @return #{$remSize}rem;
} 