// type
$main-font: 'poppins';
$secondary-font: 'montserrat';

$titles: $main-font;
$bottoms: $main-font;
$links: $main-font;
$paragraf: $secondary-font;

// size
$small-size: calculateRem(14px);
$main-size: calculateRem(16px);
$medium-size: calculateRem(18px);
$large-size: calculateRem(24px);
$maxim-size: calculateRem(32px);
$maxim-size-form: calculateRem(42px);

// letter-space
$letter-space-small: calculateRem(5px);

//line-height
$line-height-medium: calculateRem(30px);
$line-height-large: calculateRem(50px);

// gutter
$gutter: calculateWidth(20px);

// color
$main-color: #1C1C1C;
$fourth-color: #E7928A;
$third-color:#045a54;

$paragraf-color: $main-color;
$menu: $main-color;
$click: $third-color;
$border: $fourth-color;


// backgrounds
$main: #FFFFFF;
$gray: #f7f6f2;
$third: #B3D8CB;
$fourth: #EDCCC3;

$main-background: $main;
$secondary-background: $gray;
$third-background: $third;
$fourth-background: $fourth;

// size MOVIL
$small-size-movil: calculateRemMovil(10px);
$main-size-movil: calculateRemMovil(12px);
$medium-size-movil: calculateReMovil(16px);
$large-size-movil: calculateRemMovil(18px);
$maxim-size-movil: calculateRemMovil(20px);
$line-height-small-movil: calculateRemMovil(10px);
$line-height-medium-movil: calculateRemMovil(20px);
$line-height-large-movil: calculateRemMovil(40px);





