@media (max-width: 1023px) {
  h1 {
    font-size: $maxim-size-movil;
  }
  
  h2 {
    font-size: $large-size-movil;
  }
  
  h3 {
    font-size: $medium-size-movil;
    font-weight: lighter;
    letter-spacing: $letter-space-small;
  }
  
  p {
    font-size: $main-size-movil;
    line-height: $line-height-medium-movil;
  }

  .title {
    margin: 150px 50px 20px 50px;
  }
  
  .nav {
    justify-content: space-around;
  }

  .main-content {
    margin: 0px 50px 0 50px;
  }

  .scroll {
    float: none;
  }
  
  .zoom {
    transition: width 0s, height 0s, transform 0s;
   -moz-transition: width 0s, height 0s, transform 0s;
   -webkit-transition: width 0s, height 0s, transform 0s;
   -o-transition: width 0s, height 0s, transform 0s;
  
   &:hover {
    transform : scale(1);
    -moz-transform : scale(1);
    -webkit-transform : scale(1);
    -o-transform : scale(1);
   }
  }

  .form {
    margin: 0 50px;
  }

  .container-footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
  
    li {
      line-height: $line-height-large-movil;
    }
  
    a:hover {
      color: $main-background;
    }
  }
  
  
  .rights {
    justify-content: space-around;

    span {
      font-size: $small-size-movil;
    }
  }
  
  .tablet {
    float: none;
    flex-direction: row;
    justify-content: space-between;
    width: 25%;
  }
}