/* buttons */
.submit {
  align-self: flex-end;
  background-color: $click;
  border: none;
  border-radius: 0.5rem;
  color: $main-background;
  cursor: pointer;
  flex: 0 1 auto;
  font-family: $bottoms;
  padding: 0.6rem 1rem;
  text-transform: uppercase;
}