// comments
// .green {
//   background-color: $third-background;
//   width: 100%;
// }

.comments__title {
  margin-top: 6rem;
  margin-bottom: 2.5rem;
}

.comments__container {
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 2.5rem 0rem;
}

.comments__cloud {
  margin-right: $gutter;
  width: calculateWidth(220px);
}

.comments__avatar {
  background-color: $main-background;
  border-radius: 0.8rem;
  padding: 1.9rem;
}