// comments
.green {
  background-color: $third-background;
  width: 100%;
}


.container-comments {
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 40px 0px;
}

.comments {
  margin-right: $gutter;
  width: calculateWidth(290px);
  .clound {
    background-color: $main-background;
    border-radius: 10px;
    padding: 30px;
  }
}
