// comments
.green {
  background-color: $third-background;
  width: 100%;
}


.container-comments {
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 2.5rem 0rem;
}

.comments {
  margin-right: $gutter;
  width: calculateWidth(220px);
  .clound {
    background-color: $main-background;
    border-radius: 0.8rem;
    padding: 1.9rem;
  }
}
