.main-title {
  background-image: url(../../img/circle.svg);
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  margin-top: 3rem;
  padding: 12.5rem 0;
  text-align: center;
  line-height: $line-height-large;
}

.container-bio {
  align-items: baseline;
  flex-flow: row nowrap;
  justify-content: flex-end;
  margin-top: 10rem;
  width: 100%;
  
  h1 {
    flex: 1 1 auto;
  }
}

.container-bio-conten {
  width: calculateWidth(650px);
}

.list {
  font-family: $paragraf;
  font-size: $main-size;
  flex-direction: column;
  justify-content: center;
  line-height: $line-height-medium;
  padding: 0px;
  text-transform: capitalize;
}

.shadow {
  border-radius: 0.5rem;
  box-shadow: 0px 0px 16px -4px rgb(221, 219, 219);
}

.soft {
  padding-bottom: 5.6rem;
}