.design__title {
  background-image: url(../../img/circle.svg);
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  margin-top: 3rem;
  padding: 12.5rem 0;
  text-align: center;
  line-height: $line-height-large;
}

.bio {
  align-items: baseline;
  flex-flow: row nowrap;
  justify-content: flex-end;
  margin-top: 10rem;
  width: 100%;
  
  h1 {
    flex: 1 1 auto;
  }
}

.bio__content {
  width: calculateWidth(650px);
}

.skills {
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.3rem;
}

.skills__box {
  flex-direction: column;
  padding: 0 1.3rem;
  text-align: center;
  width: calculateWidth(290px);
  
  img {
    max-width: 100%;
    width: 100%;
  }

  h3 {
    padding: 0;
  }
}

.skills__list {
  font-family: $paragraf;
  font-size: $main-size;
  flex-direction: column;
  justify-content: center;
  line-height: $line-height-medium;
  padding: 0px;
  text-transform: capitalize;
}

.skills__shadow {
  border-radius: 0.5rem;
  box-shadow: 0px 0px 16px -4px rgb(221, 219, 219);
}

.skills__list--soft {
  padding-bottom: 5.6rem;
}

.scroll-index {
  margin: 4rem 6rem;
  justify-content: flex-end;
  scroll-behavior: smooth;
}

// my service

// .gray {
//   background-color: $secondary-background;
//   width: 100%;
// }
