.git {
  margin-top: 6.3rem;
}

.git__container {
  margin: 0;
  div {
    background-color: $click;
    height: 50px;
    -webkit-transition: width 1s, background 1s;
    -moz-transition: width 1s, background 1s;
    -o-transition: width 1s, background 1s;
    transition: width 1s, background 1s;
    padding: 10px;
    margin: 10px;
    line-height: 3.5rem;
    width: 200px;

    &:hover {
      width: 500px;
      background: $border;     
    }
  }
  a {
    color: white;
    font-weight: bold;
  }
}

#js__git--anim {
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}