/* web developer */
.git {
  margin-top: $maxim-size-form;
}

.git__container {
  margin: 0;
  
  ul {
    padding: 0;
  }
  div {
    background-color: $click;
    height: 50px;
    -webkit-transition: width 1s, background 1s;
    -moz-transition: width 1s, background 1s;
    -o-transition: width 1s, background 1s;
    transition: width 1s, background 1s;
    padding: 10px;
    margin: 10px 0px;
    line-height: 3.5rem;
    width: 200px;

    &:hover {
      width: 600px;
      background: $border;     
    }
  }
  a {
    color: white;
    font-weight: bold;
  }
}

.header__nav--dev {
  border-bottom: 3px solid $main-color;
}

#js__git--anim {
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}